@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* *************************** button *****************/
.btn-primary {
    margin-right: 20px;
    height: 40px;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 500;
}

.sign {
    margin-top: 20px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}

.go {
    margin-top: 20px;
    border-radius: 48px;
    background: #4EC5F7;
}

/* ******************************************************* */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
    font-size: 18px;

}

.nav-titel-span {
    color: #FF42A5;
}

.nav-titel {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

.titel-logo {
    height: 28px;
    padding-right: 10px;
}

.titel-name {
    display: flex;
    align-items: center;
}

.titel-follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 25px;
    font-weight: 500;
    font-size: 18px;
}

.titel-follow>a>i {
    padding: 0 5px;
}

/* ********************* banner ************************ */

.banner,
.play-games {
    display: flex;
    padding: 0 170px;
    align-items: center;
    justify-content: center;
    background: #FFF;
    margin-top: 50px;
    gap: 50px;
}

.banner-description {
    width: 50%;
}

.banner-play {
    color: #0B0223;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 48px;
    margin: 5px auto;
}

.banner-goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 68px;
    margin: 5px auto;
}

/* img */
.banner-images-contener {
    width: 50%;
}

.banner-images-contener>img {
    width: 100%;
}

/* *********************** we-are-gamer-container ****************** */
.we-are-gamer-container {
    margin: 50px 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 0;
}

.we-gamer-img {
    width: 55%;
}

.we-gamer-img img {
    width: 100%;
}

.we-gamer-info {
    width: 45%;
    text-align: right;
    padding-right: 5px;
}

.we-btn {
    margin: 15px 0;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}

.we-titel {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 34px;
}
.we-gamer-info p {
    color: #534C64;
    font-weight: 400;
}
.we-gamer-info h2{
    margin: 0;
    color:#534C64 ;
    font-size: 22px;
    font-weight: 700;
}
.we-gamer-info h4{
    margin: 5px 0;
    color:#534C64 ;
}


/* ************************** online games *********************** */
.online-games-container {
    margin: 100px 170px 150px 170px;

}


.online-games-videos {
    text-align: center;
}

.online-games-videos h1 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 5px;
}

.online-funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-videos-cintainer {
    display: flex;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.video {
    width: 256px;
    height: 270px;

}

.video>img {
    width: 100%;
    height: 100%;
}


.play-games-banner {
    text-align: right;
    width: 50%;
    padding-right: 100px;
    margin-bottom: 220px;
}

.play-games {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}


.banner-play {
    font-weight: 700;
    font-size: 34px;
}

.play-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.stiey-img {

    width: 200px;
    border-radius: 8px;
    border: 2px solid #FFF;
    position: relative;
    bottom: 200px;
    right: 100px;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}

.stiey-img>img {
    width: 100%;
}
/* ******************************* play-games-container ********** */

.play-games-container{
    margin-top: 0;
    height: 550px;
}
.stiey-img-second  {

    width: 200px;
    border-radius: 8px;
    border: 2px solid #FFF;
    position: relative;
    bottom: 150px;
    left: 300px;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}
.stiey-img-second img{
    width: 100%;
    /* height: 230px; */
}
.play-games-banner-second{
    padding: 0;
    justify-content: center;
    align-items: center;
}
.banner-images-contener-second{
    width: 50%;
}
.banner-images-contener-second img{
    width: 100%;
}
/* **************************** game-box-container ******************* */

.game-box-container {
    margin: 70px 170px;
}

.game-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.game-btn {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    background: #FFF;
    color: #0B0223;
    font-weight: 700;
    font-size: 12px;
    flex: 0 1 calc(20% - 10px);
    margin: 5px 5px;
}

.game-btn img {
    width: 20%;
}

.game-btn:hover {
    color: var(--Linear, #FF42A5);
    border: 1.5px solid var(--Linear, #FF42A5);
    background: #FFF;
}

/* ******************** careers-container ****************** */

.careers-container {
    padding: 50px 170px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.careers-details h1{
    font-size: 34px;
    font-weight: 700;
}

.careers-details {
    width: 50%;
    color: white;
}

.careers-img {
    width: 50%;
}

.careers-img img {
    width: 100%;
}

.careers-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.careers-address ul {
    list-style: none;
}

.careers-address-part2 ul {
    text-align: right;
    padding-left: 0;
    padding: 5px auto;
}

.careers-address-part1 ul {
    padding-left: 0;
    padding: 5px auto;
}

.careers-address-part1 ul li,
.careers-address-part2 ul li {
    padding: 5px 0;
}

.careers-btn {
    color: #FF42A5;
    border-radius: 20px;
}




/* ******************************* footer *********************** */
footer {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0B0223;
    color: white;
}

.footer-link ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 25px;
}

.footer-link ul {
    list-style: none;
    display: flex;

}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-icon a {
    padding: 10px 20px;
}

.footer-trams a {
    padding: 10px 20px;
    color: gray;
}

.footer-trams {
    margin-bottom: 30px;
}

.footer-p {
    color: gray;
}











































/* ********************* responsive for mobile **************** */

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    nav ul li {
        padding-bottom: 25px;
    }

    .titel-follow {
        padding-right: 15px;
        margin-left: 0px;
        padding-left: 15px;
        width: 200px;
    }

    /* ***************** */
    .banner,
    .play-games {
        flex-direction: column-reverse;
        padding: 0;
    }

    .banner-description {
        padding: 0 20px;
        margin: 50px 50px;
        width: 60%;
        justify-content: center;

    }

    .banner-images-contener {
        width: 70%;
    }
    .banner-images-contener-second{
        width: 60%;
    }

    .banner-play {
        font-size: 30px;
    }

    .banner-goat {
        font-size: 50px;
    }
/* *********** we gamer ************* */
    .we-are-gamer-container{
        flex-direction: column;
        align-items: center;
        margin:  50px 20px;
    }
    .we-gamer-img{
        width: 100%;
    }
    .we-gamer-info{
        width: 100%;
        text-align:center;
    }




    /* **************** */
    .online-games-container {
        margin: auto 60px;
    }

    .online-videos-cintainer {
        flex-direction: column;
        width: 100%;

    }

    .video {
        margin-bottom: 50px;
    }

    /* ****************** paly game *************** */
    .play-games-container , .play-games-container-second{
        height: 100%;
    }
    .play-games {
        flex-direction: column;

    }

    .play-games-banner,.play-games-banner-second {
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-right: 0;
        margin-bottom: 5px;

    }
    .stiey-img  {
        width: 150px;
        height: 160px;
        border-radius: 8px;
        border: 2px solid #FFF;
        position: relative;
        bottom: 140px;
        right: 50px;
    }
    .stiey-img-second{
        width: 150px;
        height: 160px;
        border-radius: 8px;
        border: 2px solid #FFF;
        position: relative;
        left: 150px;
        bottom: 140px;
    }
    .stiey-img-second img{
        width: 100%;
    }
    .play-games-banner-second{
        width:80%;
        
        margin: auto 10px;
        margin-bottom: 25px;
    }
    .banner-images-contener-second{
        height: 300px;
    }

    

    /* ******************** careers-container ****************** */

    .careers-container {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .careers-address {
        justify-content: space-around;
        gap: 60px;
    }

    .careers-img {
        padding-left: 40px;
        width: 100%;
    }

    .careers-details-p {
        font-size: 11px;
        padding-left: 0;
        font-weight:200;
    }

    .careers-details {
        width: 300px;
    }

    .careers-address-part1,
    .careers-address-part2 {
        font-size: 11px;
    }

    /* ******************* game box ****************** */
    .game-box-container {
        margin: 30px 10px;
    }

    .game-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .game-btn {
        font-size: 8px;
        flex: 0 1 calc(33.33% - 10px);
        margin: 5px;
    }

    .game-btn img {
        width: 25%;
    }



    /* ********************* footer****************** */
    .footer-link ul,
    .footer-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 0;

    }

    .footer-link ul li a {
        padding: 0;
    }

    .footer-link ul li {
        margin-bottom: 20px;
    }

    .footer-icon {
        margin-top: 0;
    }

    .footer-icon a {
        margin-bottom: 20px;
    }

    .footer-trams {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-trams a {
        padding: 5px 10px;
        text-align: center;
    }

    .footer-p {
        text-align: center;
    }
    .play-games-container{
        margin: 0 10px;
    }



}



/* ****************** responsive for tablet ******************* */

@media screen and (min-width: 577px) and (max-width: 992px) {
    nav {
        padding: 0 50px;
    }

    .online-videos-cintainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .video {
        margin-bottom: 50px;
    }

    .play-games-banner {
        text-align: center;
        padding-right: 0;
        margin-bottom: 0;

    }

    .banner,
    .play-games {
        flex-direction: column;
        padding: 0 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .play-games-container-second{
        display: none;
    }
    .play-games{
        gap: 0;
    }
    .banner-images-contener{
        width: 250px;
    }
    .stiey-img{
        width: 150px;
        height: auto;
        bottom: 120px;
    }

    .game-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .game-btn {
        font-size: 12px;
        flex: 0 1 calc(33.33% - 10px);
        margin: 5px;
    }

    .game-btn img {
        width: 25%;
    }

    .careers-container {
        flex-direction: column;
        padding: 50px 0;
        margin: 0;
    }

    .careers-details {
        width: 600px;
    }

    .we-are-gamer-container{
        flex-direction: column;
        align-items: center;
        margin:  50px 20px;
        justify-content: center;
        width: 700px;
    }
    .we-gamer-info{
        width: 100%;
        text-align:center;
    } 


}